.reveal-viewport {
	background-color: black;
}

.slides {
    color: white;
}

@font-face {
	font-family: sanskrit;
	src: url("sanskrit_2003.otf") format("opentype");
}

.reveal h2 {
	font-size: 45px;
	font-weight: normal;
	font-family: 'sanskrit', serif;
    line-height: 1.8;
    color: white;
}

.reveal p {
    line-height: 1.8;
}

.reveal section  {
	font-size: 20px;
}
